<template>
  <div>
    <h1>Create Report</h1>
    <b-button
      :to="{ name: 'report-editor', params: { reportType: 'sales' } }"
      class="mr-3"
      >Create Sales Report</b-button
    >
    <b-button :to="{ name: 'report-editor', params: { reportType: 'rental' } }"
      >Create Rental Report</b-button
    >
  </div>
</template>

<script>
export default {

};
</script>

<style lang="scss" scoped>
</style>
