<template>
  <div>
    <h1>List Reports</h1>
    <b-table
      class="mt-5 mb-3"
      striped
      hover
      :busy.sync="isLoading"
      :items="reportsWithSaved"
      :per-page="perPage"
      :current-page="currentPage"
      show-empty
      empty-text="-"
    >
      <template v-slot:table-busy>
          <div class="text-center text-danger my-5">
            <b-spinner class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
      </template>
    </b-table>
    <b-row>
      <b-col>
        <b-pagination
          v-model="currentPage"
          :total-rows="reports.length"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
      <b-col>
        <b-button :to="{ name: 'create-report' }">Create Report</b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import axios from 'axios';
import { mapState } from 'vuex';

export default {
  created() {
    this.fetchReports();
  },
  data() {
    return {
      reports: [],
      perPage: 5,
      currentPage: 1,
      isLoading: true,
    };
  },
  computed: {
    reportsWithSaved() {
      return [...this.reports, ...this.savedReports];
    },
    ...mapState({
      savedReports: (state) => state.reports.savedReports,
    }),
  },
  methods: {
    async fetchReports() {
      try {
        const result = await axios.get('https://39c81456-e28f-4ca1-9487-d60ca5d9ef47.mock.pstmn.io/api/v2/reports/');
        this.reports = result.data.map((report) => report.report);
      } catch (error) {
        console.error(error.message);
      } finally {
        this.isLoading = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
