<template>
  <div>
    <h1 class="text-capitalize">
      {{ $route.params.reportType }} Report Editor
    </h1>
    <template v-if="isLoading">
      <div class="text-center my-5">
        <b-spinner class="align-middle"></b-spinner>
        <strong>Loading...</strong>
      </div>
    </template>
    <template v-else>
      <b-form @submit="submit">
        <b-form-select
          v-model="status"
          class="mt-5"
          :options="statuses"
        ></b-form-select>
        <template v-for="section in sections">
          <div :key="section.name" class="my-5">
            <h3 class="text-capitalize">{{ section.name }}</h3>
            <template v-if="section.fields.length > 0">
              <template v-for="field in section.fields">
                <b-form-group
                  :key="`input-${section.name}-${field.name}`"
                  :label="`${field.name}:`"
                  :label-for="`input-${section.name}-${field.name}`"
                >
                  <b-form-input
                    :id="`input-${section.name}-${field.name}`"
                    required
                    v-model="field.value"
                    :placeholder="`Enter ${field.name}`"
                  ></b-form-input>
                </b-form-group>
              </template>
            </template>
            <template v-else>
              no content
            </template>
          </div>
        </template>
        <b-button type="submit" variant="primary">Submit</b-button>
      </b-form>
    </template>
  </div>
</template>

<script>
import axios from 'axios';
import { mapActions } from 'vuex';

export default {
  created() {
    this.fetchDraft();
  },
  data() {
    return {
      sections: [],
      isLoading: true,
      status: '',
      statuses: [
        'draft',
        'ready',
        'expired',
      ],
      type: '',
    };
  },
  methods: {
    async fetchDraft() {
      try {
        const result = (await axios.post(`https://39c81456-e28f-4ca1-9487-d60ca5d9ef47.mock.pstmn.io/api/reports/${this.$route.params.reportType}`)).data;
        this.sections = this.generateSectionsFromDraft(result.sections, result.report);
        this.status = result.report.status;
        this.type = result.report.type;
      } catch (error) {
        console.error(error.message);
      } finally {
        this.isLoading = false;
      }
    },
    generateSectionsFromDraft(sections, draft) {
      return sections.map((section) => ({
        name: section.type,
        fields: Object.keys(section.data).map((name) => {
          console.log(name, draft, draft[name]);
          return {
            name,
            value: draft[name] || '',
          };
        }),
      }));
    },
    async submit(evt) {
      evt.preventDefault();
      const fields = this.sections.flatMap((section) => section.fields);
      const report = fields.reduce((fieldsObject, field) => {
        // eslint-disable-next-line no-param-reassign
        fieldsObject[field.name] = field.value;
        return fieldsObject;
      },
      {});
      report.type = this.type;
      report.status = this.status;
      await this.saveReport(report);
      this.$router.push({
        name: 'list-reports',
      });
    },
    ...mapActions('reports', ['saveReport']),
  },
};
</script>

<style lang="scss" scoped>
</style>
